{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
          
            <h4>Student Attendance</h4>
            <h5 class="text-sm opacity-4">Attendance validation system</h5>
            <hr/>
            
          </div>
          <div class="card-body">
            <h5>Student Attendance Code</h5>
            <p>Provide this Attandace code to student</p>
            <h2 class="opacity-6">{{A_code}}</h2>
            <hr/>
            <h6>New code</h6>
            <form class="form" method="POST">{% csrf_token %}
              <button class="btn bg-gradient-primary my-1 me-1" type="submit">Create Attendance Code</button>
            </form>

          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}
    
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
